{% extends 'base.html' %}

{% load mptt_tags %}

{% block content %}



<div class="row main-block">
                    <div class="span12">
                        <div class="row">
<!-- MAIN CONTENT AREA: REDESIGN CUSTOM - HERO BLOCK 1 (TEXT BLOCK)] -->
                            <div class="span4 home-block">
                                <div class="grey-box hero-block-2">
                                    <h2><a href="#">Регистрация объекта</a></h2>
                                    <p>Great web pages utilize effective calls to action. </p>
                                </div>
                                <br />
                                <div class="grey-box hero-block-2">
                                    <h2><a href="#">Регистрация пользователя</a></h2>
                                    <p>Great web pages utilize effective calls to action.</p>
                                </div>
                                <br />
                                <div class="grey-box hero-block-2">
                                    <h2><a href="#">Баннер</a></h2>
                                </div>
                            </div>
<!-- MAIN CONTENT AREA: SPACER BETWEEN HERO BLOCK 1 AND HEREO BLOCK 2 -->
                            <div class="span8 home-block hero-block-1">
                                <h1>Движение Дольщики России</h1>
                                <h2>О движении</h2>
                                <p>Ретро иллюстрирует ритмоформульный рефрен, а после исполнения Утесовым роли Потехина в "Веселых ребятах" слава артиста стала всенародной. Трехчастная фактурная форма, по определению, начинает перекрестный сет, не говоря уже о том, что рок-н-ролл мертв. Пуантилизм, зародившийся в музыкальных микроформах начала ХХ столетия, нашел далекую историческую параллель в лице средневекового гокета, однако плотностная компонентная форма имеет определенный рефрен, и здесь в качестве модуса конструктивных элементов используется ряд каких-либо единых длительностей. Очевидно, что хорус mezzo forte начинает хамбакер, это и есть одномоментная вертикаль в сверхмногоголосной полифонической ткани. Модальное письмо может быть реализовано на основе принципов центропостоянности и центропеременности, таким образом рефрен заканчивает флюгель-горн, это и есть одномоментная вертикаль в сверхмногоголосной полифонической ткани. </p>
                            </div>
<!-- MAIN CONTENT AREA: bizstrap CUSTOM - HERO BLOCK 2 -->
                            
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row main-block">
                    <div class="span12">
<!-- MAIN CONTENT AREA: bizstrap CUSTOM - HERO LIST -->
                        <div class="row show-grid hero-list">
                            <div class="span3">
                                <div class="image-wrapper">
                                    <img alt="" src="/static/img/ruler.png" />
                                </div>
                                <h2>Партнер 1 </h2>
                                <p>Modern, clean design to give your business a highly professional appearance.
                                    <a href="#">Подробнее&nbsp;&raquo;</a>
                                </p>
                            </div>
                            <div class="span3">
                                <div class="image-wrapper">
                                    <img alt="" src="/static/img/equaliser.png" />
                                </div>
                                <h2>Партнер 2</h2>
                                <p>Flexible page layout templates to help you quickly organize your website's content.
                                    <a href="#">Подробнее&nbsp;&raquo;</a>
                                </p>
                            </div>
                            <div class="span3">
                                <div class="image-wrapper">
                                    <img alt="" src="/static/img/direction.png" />
                                </div>
                                <h2>Партнер 3</h2>
                                <p>Dozens of unique shortcuts to add your own cool and custom flare.
                                    <a href="#">Подробнее&nbsp;&raquo;</a>
                                </p>
                            </div>
                            <div class="span3">
                                <div class="image-wrapper">
                                    <img alt="" src="/static/img/both_arrows.png" />
                                </div>
                                <h2>Партнер 4</h2>
                              <p>Ultra-responsive design so your pages work beautifully on practically any device.
                                    <a href="#">Подробнее&nbsp;&raquo;</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="horizontal-divider span12"></div>
                </div>

<!-- MAIN CONTENT AREA: bizstrap CUSTOM - RECENT POSTS BLOACK (ORIGINALLY DESIGNED FOR HOME PAGE) -->
<div class="main-block block-posts">
    <div class="title-wrapper">
        <h2>Последние события</h2><a href="/news/" class="all">Все события&nbsp;&raquo;</a>
    </div>
    <div class="row show-grid clear-both">
        <div class="span12">
            <div class="row show-grid">
                {% for n in news %}
                <div class="span3">
                    <a class="block-post-title" href="/news/{{ n.slug }}">{{ n.title }}</a>
                    <p class="block-post-date">{{ n.date }}</p>
                    <p class="block-post-content">{{ n.desc|striptags }}...</p>
                    <a class="block-post-more" href="/news/{{ n.slug }}">Далее&nbsp;&raquo;</a>
                </div>
               {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
